<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.bmwg650gs"
          android:versionCode="4"
          android:versionName="2.1">

    <uses-sdk android:minSdkVersion="10"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <application
            android:label="@string/app_name"
            android:theme="@android:style/Theme.DeviceDefault.Light.DarkActionBar"
            android:icon="@drawable/ic_launcher">
        <activity
                android:name="net.bmwg650gs.CountdownActivity"
                android:label="@string/app_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
